/* stilizzazione generale bottoni */
button{
  background-color: #ffffff;
  border: 1px solid #0069ff;
  color: #0069ff;
  border-radius: 5px;
  padding: 5px 18px;
  font-weight: 700;
  transition: 0.4s;
}

button:hover{
  color: #ffffff;
  background-color: #0069ff;
}
/* fine stilizzazione generale bottoni */

/* HEADER */
header{
  /* background-color: #fbc531; */
  height: 100px;
}

header .col-md-2,
header .col-md-8{
  position: relative;
  height: 100px;
}

#logo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.UnifiedNav-logoSVG {
    fill: #0069ff;
}

.navbar-default{
  background-color: inherit;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#menu a{
  color: #031b4e;
  font-weight: 700;
  transition: 0.2s;
}

#menu a:hover{
  color: #0069ff;
}

header button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* fine HEADER */

/* JUMBOTRON */
.jumbo{
  background-color: #0049ff;
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 0;
}

.jumbo .text-left{
  color: #ffffff;
  padding: 80px 0;
}

.jumbo .text-center{
  color: #ffffff;
  padding: 80px 0;
}

.jumbo .text-left h1{
  font-size: 60px;
  font-weight: 700;
  opacity: 0.9;
}

.jumbo .text-left h2{
  font-size: 25px;
  font-weight: lighter;
  line-height: 35px;
  opacity: 0.9;
}

.jumbo .text-center h1{
  font-size: 60px;
  font-weight: 700;
  opacity: 0.9;
}

.jumbo .text-center h2{
  font-size: 25px;
  font-weight: lighter;
  line-height: 35px;
  opacity: 0.9;
}

#form{
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
}

#form h3{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #031b4e;
}

#form .form-group input{
  border-color: color: #031b4e;
  height: 45px;
}

#form #btn-account{
  padding: 12px 0;
  color: #ffffff;
  background-color: #0069ff;
  width: 100%;
  transition: 0.4s;
  font-size: 18px;
}

#form #btn-account:hover{
  background-color: #1633ff;
}

#form .help-block{
  padding: 15px 0px;
}

#form .help-block::after,
#form .help-block::before{
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
  background-color: #031b4e50;
  margin: 0 15px;
}

#form #btn-sign-up-1,
#form #btn-sign-up-2{
  width: calc(95% / 2);
  padding: 12px 0;
  color: #031b4e;
  background-color: #f2f8ff;
  transition: 0.4s;
  font-size: 18px;
  border-color: #031b4e60;
  float: left;
  position: relative;
}

#form #btn-sign-up-1 i,
#form #btn-sign-up-2 i{
  position: relative;
  top: 50%;
  padding-right: 10px;
}

#form #btn-sign-up-2{
  margin-left: 5%;
}

#form #terms{
  margin-top: 30px;
  display: inline-block;
}
/* fine JUMBOTRON */

/* sezione BRANDS */
.brands{
  background-color: #f3f5f9;
  padding: 50px 0;
}

.brands [class*="col-"]{
  text-align: center;
}

.brands .first h3{
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #939eb5;
}

.brands .second{
  height: 60px;
}

.brands .second .col-md-2{
  height: 60px;
}

.brands #docker{
  background-image: url("https://www.digitalocean.com/assets/media/homepage/logos/docker-bab60eeb.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.brands #gitlab{
  background-image: url("https://www.digitalocean.com/assets/media/homepage/logos/gitlab-166e2067.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.brands #slack{
  background-image: url("https://www.digitalocean.com/assets/media/homepage/logos/slack-e20293da.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.brands #hashicorp{
  background-image: url("https://www.digitalocean.com/assets/media/homepage/logos/hashicorp-4431df79.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.brands #wework{
  background-image: url("https://www.digitalocean.com/assets/media/homepage/logos/wework-be6eab32.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.brands #splunk{
  background-image: url("https://www.digitalocean.com/assets/media/homepage/logos/splunk-06b17d75.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.row.third .col-md-4{
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
}
/* fine sezione BRANDS */

/* sezione FEATURES */
.features{
  padding: 100px 0;
}

.features .row.first{
  text-align: center;
  padding-bottom: 40px;
}

.features .row.first h1{
  font-weight: 700;
  color: #031b4e;
}

.features .row.first h2{
  font-size: 20px;
  color: #4e5f83;
  line-height: 25px;
}

.features .row.second .col-md-2{
  /* padding-left: 50px; */
}

.slidershow{
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.navigation{
  position: relative;
  right: 0;
}

.col-md-3 .bar{
  width: 3px;
  height: 50px;
  border: 2px solid #e5e8ed;
  margin: 6px;
  cursor: pointer;
  transition: 0.2s;
  display: block;
}

.features .row.second .col-xs-12,
.features .row.second .col-sm-12{
  text-align: center;
  padding-bottom: 40px;
}

.navigation .xssm{
  margin-bottom: 20px;
  position: relative;
  left: 50%;
}

.col-md-3 .xssm .bar{
  width: 50px;
  height: 3px;
  border: 2px solid #e5e8ed;
  margin: 6px;
  cursor: pointer;
  transition: 0.2s;
  display: inline;
  padding: 5px 10px;
  border-radius: 5px;
}

.col-md-3 .xssm .bar:hover{
  border: 2px solid #0069ff;
}

#deploy::after{
  content: "Deploy";
  padding-left: 20px;
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #031b4e;
}

#scale::after{
  content: "Scale";
  padding-left: 20px;
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #031b4e;
}

#store::after{
  content: "Store";
  padding-left: 20px;
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #031b4e;
}

#secure::after{
  content: "Secure";
  padding-left: 20px;
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #031b4e;
}

#monitor::after{
  content: "Monitor";
  padding-left: 20px;
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #031b4e;
}

.bar:hover{
  border: 2px solid #0069ff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}

#r2:checked ~ .s1{
  margin-left: -20%;
}

#r3:checked ~ .s1{
  margin-left: -40%;
}

#r4:checked ~ .s1{
  margin-left: -60%;
}

#r5:checked ~ .s1{
  margin-left: -80%;
}

/* .features .slide div[class*="col-"]{
  text-align: left;
} */

.features .slide .content{
  padding-right: 50px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.features .slide .content h4{
  color: #031b4e;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.features .slide .content p{
  letter-spacing: 1px;
  color: #596383;
}

.features .slide .content i{
  font-size: 35px;
  color: #0069ff;
}
/*fine sezione FEATURES */

/* sezione PRESENTATION */
.presentation{
  background-color: #f3f5f9;
  padding: 100px 0;
}

.presentation .row.first .col-md-8{
  text-align: center;
}

.presentation .row.first{
  padding-bottom: 40px;
}

.presentation .row.first h2{
  font-weight: 700;
  color: #031b4e;
}

.presentation .row.first p{
  font-size: 20px;
  color: #4e5f83;
  line-height: 25px;
}

.presentation .row.second .slider{
  width: 800px;
  height: 477.65px;
  background-image: url("https://www.digitalocean.com/assets/media/homepage/screenshot-create-kubernetes-cluster-4a930955.jpg");
  margin: 40px auto;
  background-size: contain;
  background-repeat: no-repeat;
  animation: slide 15s infinite;
  transition: 0.3s;
  /* opacity: 0; */
  border-radius: 5px;
  position: relative;
}

.presentation .row.second .slider::after{
  content: "Use Kubernetes to improve availability, scalability, and resource efficiency of your containerized applications";
  position: absolute;
  display: block;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  animation: slide_2 15s infinite;
  }

@keyframes slide {
  20%{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/screenshot-create-kubernetes-cluster-4a930955.jpg");
  }
  40%{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/screenshot-create-droplet-941311f7.jpg");
  }
  60%{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/screenshot-database-c59bd221.png");
  }
  80%{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/screenshot-upload-to-space-47275215.jpg");
  }
  20%{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/screenshot-projects-and-doctl-3db0054e.jpg");
  }
}

@keyframes slide_2 {
  20%{
    content: "Use Kubernetes to improve availability, scalability, and resource efficiency of your containerized applications";
  }
  40%{
    content: "Choose the machine type that’s right for your app – and  spin up in 55 seconds or less.";
  }
  60%{
    content: "Quickly and easily provision a high-performance database cluster.";
  }
  80%{
    content: "Store assets, media, and more using Spaces object storage with a built-in CDN.";
  }
  20%{
    content: "Easily organize, manage, and update your infrastructure using Projects and Teams.";
  }
}
/*fine sezione PRESENTATION */

/* sezione CARDS */
.cards{
  padding: 100px 0;
}

.cards .row.one .col-md-4{
  text-align: center;
}

.cards .row.one{
  padding-bottom: 40px;
}

.cards .row.one h2{
  font-weight: 700;
  color: #031b4e;
}

.cards .row.two .col-sm-6,
.cards .row.two .col-xs-12{
  padding-bottom: 30px;
  text-align: center;
}

.cards .row.two h4{
  color: #031b4e;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.cards .row.two p{
  letter-spacing: 1px;
  color: #596383;
}

.cards .row.two a{
  font-weight: 700;
  color: #0069ff;
}
/* fine sezione CARDS */

/* sezione SPEED */
.speed {
  background:#031b4e url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.speed .row.one{
  padding-bottom: 40px;
}

.speed .row.one .col-md-8{
  text-align: center;
}

.speed .row.one h2{
  font-weight: 700;
  font-size: 43px;
  color: #ffffff;
}

.speed .row.two{
  color: #ffffff;
}

.speed .row.two .content{
  text-align: left;
  padding-bottom: 40px;
}

.speed .row.two .tbl-elmn{
  border-bottom: 1px solid #ffffff60;
  padding: 10px 0;
  font-size: 14px;
}

.speed .row.two #sb{
  border-bottom: none;
}

.speed .row.two .tbl-elmn .one{
  width: 10%;
  display: inline-block;
  font-weight: 700;
}

.speed .row.two .tbl-elmn .two{
  width: 70%;
  display: inline-block;
  padding-left: 35px;
  color: #ffffff80;
}

.speed .row.two .tbl-elmn .three{
  width: 20%;
  display: inline-block;
}

.speed .row.two .tbl-elmn .three a{
  transition: 0.2s;
  text-decoration: none;
  color: #07d7d2;
  font-weight: 700;
}

.speed .row.two .tbl-elmn .three a:hover{
  color: #065fe6;
}
/* fine sezione SPEED */

/* sezione WINDOW */
.window{
  background-color: #f3f5f9;
  padding: 100px 0;
}

.window .row.one .col-md-8{
  text-align: center;
}

.window .row.one{
  padding-bottom: 10px;
}

.window .row.one h2{
  font-weight: 700;
  color: #031b4e;
  padding-bottom: 20px;
}

.window .row.one p{
  letter-spacing: 1px;
  color: #596383;
  font-weight: 500;
  font-size: 19px;
}

.window .slidershow{
  width: 736px;
  height: 360px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(3,27,78,.1);
}

.window .middle{
  margin: 0 auto;
}

.window .navigation{
  padding-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.window .bar{
  width: 10px;
  height: 10px;
  border: 2px solid #0069ff;
  border-radius: 100px;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  float: left;
}

.window .bar:hover{
  background: #0069ff;
}

.window input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.window .slides{
  width: 300%;
  height: 100%;
  display: flex;
}

.window .slide{
  width: calc(100% / 3);
  transition: 0.6s;
}
.window .slide img{
  width: 100%;
  height: 100%;
}

.window #r_1:checked ~ .s1{
  margin-left: 0;
}

.window #r_2:checked ~ .s1{
  margin-left: -33.3333%;
}

.window #r_3:checked ~ .s1{
  margin-left: -66.6666%;
}

.window .slide .content{
  padding: 30px;
  text-align: center;
}

.window .row.two .slide .content img{
  width: 200px;
  padding-bottom: 40px;
}

.window .row.two .slide .content p{
  color: rgba(3,27,78,.7);
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
}

.window .row.two .slide .content small{
  color: rgba(3,27,78,.7);
}

.window .row.two .slide .content span{
  display: block;
  padding-top: 20px;
  font-weight: 700;
  text-decoration: none;
}

.window .row.two .slide .content span a{
  text-decoration: none;
  color: #0069ff;
}

.window .row.two .slide .content span a:hover{
  text-decoration: none;
  color: #075fe6;
}
/*fine  sezione WINDOW */

/* sezione CALL TO ACTION */
.cta{
  padding: 50px 0;
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cta .col-md-4{
  text-align: center;
}

.cta .col-md-4 p{
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}

.cta .col-md-4 button{
  padding: 10px 20px;
  width: 75%;
}

.cta .col-md-4 button:hover{
  background: #ffffff90;
  color: #0069ff;
}
/* fine sezione CALL TO ACTION */

/* FOOTER */
footer{
  padding: 80px 0;
  background-color: #010e28;
}

footer .row.one{
  padding-bottom: 40px;
  border-bottom: 1px solid #808794;
}

footer .row.one .col-md-2{
}

footer .row.one .col-md-2 h5{
  color: #ffffff;
  font-size: 18px;
}

footer .row.one .col-md-2 ul{
  list-style: none;
  padding-left: 0;
}

footer .row.one .col-md-2 li{
  line-height: 28px;
  font-size: 15px;
  font-weight: 500;
}

footer .row.one .col-md-2 a{
  list-style: none;
  margin-left: 0;
  text-decoration: none;
  color: #808794;
}

footer .row.one .col-md-2 a:hover{
  color: #ffffff;
}

footer .row.two{
  padding-top: 30px;
}

footer .row.two .col-md-4{
  height: 50px;
  position: relative;
}

footer .row.two p{
  left: 90px;
  color: #808794;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
}

footer .row.two span{
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  transform: translateY(-50%);
  color: #808794;
  transition: 0.2s;
  cursor: pointer;
}

footer .row.two .text-right i{
  padding-right: 10px;
  font-size: 25px;
}

footer .row.two .text-right i:hover{
  color: #ffffff;
}









/* fine FOOTER */
